.header{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: tan;
    height: 5rem;
    color:white;
    width: 100vw;
}
.header ul{
    display: flex;
    width: 100vw;
        align-items: center;
        justify-content: space-between;
        list-style: none;
}

.header ul li a{
    text-decoration: none;
    font-size: 2rem;
    color: white;
}

.header button{
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
}